/* BACKGROUND */
.full {
  background: url('img/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:100%;
}

/* LOGO */
#jumbo {
  background-color: transparent;
  padding: 20px 0px 0px 0px;
}

#title {
  color: #173D7D;
  font-size: 30px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial;
}

/* TABLE */
#roadmapItems {
  background: rgba(255,255,255,0.5);
}

#roadmapItems > thead > tr > th {
  vertical-align: top;
  white-space: nowrap;
}

/* COLORS */
#roadmapItems > tbody > tr:hover {
  background: rgba(221,221,221,0.2);
}

#roadmapItems > tbody > tr.released {
  background: rgba(0,175,255,0.5) !important;
}

#roadmapItems > tbody > tr.released:hover {
  background: rgba(0,175,255,0.6) !important;
}

#roadmapItems > tbody > tr.done {
  background: rgba(0,175,255,0.2) !important;
}

#roadmapItems > tbody > tr.done:hover {
  background: rgba(0,175,255,0.3) !important;
}

/* BUTTONS & COLUMN FILTER */
#content > #jumbo > .container-fluid > #hideCol,
#content > #jumbo > .container-fluid > button#sheets-link {
  display: none;
}

select#selConfig + span.select2,
#content > #jumbo > .container-fluid > button {
  margin-left: 10px;
}

select#selConfig {
  width: 200px;
}

select#selConfig + span.select2 {
  display: none;
  float: right;
}
