/* BACKGROUND */
.full {
  background: url('img/bg.png') repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* LOGO */
#jumbo {
  background-color: transparent;
  padding: 20px 0px 0px 0px;
  margin: auto auto 40px auto;
  position: fixed;
}

#scrollbox {
  margin-left: 200px;
}

#filters {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#filters > .badge {
  color: #213f7d;
  background-color: #fff;
  margin-bottom: 10px;
}

select.basic-multiple {
  display: block;
}

#filters li.select2-selection__choice,
li.select2-results__option {
  font-size: 12px;
}

.select2-container {
  max-width: 150px;
}

#title {
  color: #173D7D;
  font-size: 30px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial;
}

#roadmapItems {
  width: 90%;
  margin: 20px auto;
  color: #213f7d;
  font-family: 'Roboto', Arial, sans-serif;
  overflow-y: auto;
}

#roadmapItems > .list-group-item {
  background: rgba(237, 240, 247,0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100px;
  margin-bottom: 25px;
  border: none;
  border-left-style: solid;
  border-left-color: #777;
  border-radius: 5px;
  border-left-width: 10px;
}

#roadmapItems > .list-group-item:hover {
  background: rgba(199, 206, 221,0.5);
}

#roadmapItems > .list-group-item > .business_target {
  margin: auto 0;
  overflow: ellipsis;
}

/* COLOR-CODES */
#roadmapItems > .list-group-item.platform {
  border-left-color: #213f7d;
  border-left-style: solid;
}

#roadmapItems > .list-group-item.media {
  border-left-color: #a80000;
  border-left-style: solid;
}

#roadmapItems > .list-group-item.cloud {
  border-left-color: #85ccd1;
  border-left-style: solid;
}

#roadmapItems > .list-group-item.user_experience {
  border-left-color: #e5bc40;
  border-left-style: solid;
}

#roadmapItems > .list-group-item.nos {
  border-left-color: #fc8d16;
  border-left-style: solid;
}

#roadmapItems > .list-group-item.nos {
  border-left-color: #fc8d16;
  border-left-style: solid;
}

#roadmapItems > .list-group-item > .first {
  min-width: 120px;
}

#roadmapItems > .list-group-item > .main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#roadmapItems > .list-group-item > .main > h3 {
  margin: 5px;
  font-weight: bold;
}

#roadmapItems > .list-group-item > .main > p {
  max-width: 700px;
  padding-left: 5px;
  color: #7a90bf;
}

#roadmapItems > .list-group-item > .main > p > span {
  font-weight: bold;
}

#roadmapItems > .list-group-item > .tags {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#roadmapItems > .list-group-item > .tags > * {
  margin: auto;
}

#roadmapItems > .list-group-item > .last > div > .estimate {
  font-size: 10px;
  text-align: center;
  margin-top: 15px;
}

#roadmapItems > .list-group-item > .tags > .product > .badge,
#roadmapItems > .list-group-item > .last > div > .dates > .q_started > .badge,
#roadmapItems > .list-group-item > .last > div > .dates > .q_delivered > .badge {
  background-color: #213f7d;
}

#roadmapItems > .list-group-item > .tags > .team > .badge,

#roadmapItems > .list-group-item > .first > .product_version > .badge,
#roadmapItems > .list-group-item > .last > div > .estimate > .badge {
  background-color: #00adff;
}

#roadmapItems > .list-group-item > .tags > .epic > a {
  text-decoration: none;
  font-weight: 700;
  color: #415682;
}

#roadmapItems > .list-group-item > .first > .business_target {
  font-weight: bold;
  margin-bottom: 10px;
}

#roadmapItems > .list-group-item > .last > div > .status {
  opacity: 0;
}

#roadmapItems > .list-group-item > .last > div > .dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BUTTONS & COLUMN FILTER */
#content > #jumbo > .container-fluid {
  display: flex;
  flex-direction: column;
}

#content > #jumbo > .container-fluid > button {
  color: #fff;
  background-color: #213f7d;
  margin-bottom: 10px;
}

#content > #jumbo > .container-fluid > button#sheets-link {
  display: none;
}

/* TIMELINE */
.timeline {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.timeline_node {
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
}
.timeline_node:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -6px;
  left: 25%;
}

.li.complete .timeline_node {
  border-top: 2px solid #213f7d;
}
.li.complete .timeline_node:before {
  background-color: #00adff;
  border: 1px solid #213f7d;
}

.timeline_node + .tooltip > .tooltip-inner {
  background-color: white;
  color: #213f7d;
  font-weight: 700;
  border: 1px solid #213f7d;
  transition: none !important;
}

.timeline_node + .tooltip > .tooltip-arrow {
  border-top-color: #213f7d;
  transition: none !important;
}
